## Settings file was created by plugin EpicMMOSystemUI v1.9.44
## Plugin GUID: WackyMole.EpicMMOSystemUI

[4.Hud--------------------]

## Use the old eXP Bar only (need restart, not server sync) Does not move or scale [Not Synced with Server]
# Setting type: Boolean
# Default value: false
OldXPBar = false

## Show max hp (100 / 100) [Not Synced with Server]
# Setting type: Boolean
# Default value: true
ShowMaxHp = true

## Force the Eitr bar to always show up even when empty [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Force EitrBar = false

## Position of the Main EpicHudBarBackground in (x,y) - You can drag individual components below [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
1.0HudGrouplPosition = {"x":0.0,"y":0.0}

## Background color in Hex, set to 'none' to make transparent [Not Synced with Server]
# Setting type: String
# Default value: #2F1600
1.1BackgroundCol = #2F1600

## Background Bar Scale [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
1.1BackgroundScale = {"x":1.0,"y":1.0,"z":1.0}

## Scale for HudGroup - exp, background, hp, stamina, eitr - You can do individual below [Not Synced with Server]
# Setting type: Single
# Default value: 0.9
1.2HudGroupScale = 0.9

## Position of the Exp panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
2.0ExpPanelPosition = {"x":0.0,"y":0.0}

## Exp fill color in Hex - White bleeds through with purple, set to 'none' to have no xp bar [Not Synced with Server]
# Setting type: String
# Default value: #FFFFFF
2.1ExpColor = #FFFFFF

## Exp Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
2.2ExpScale = {"x":1.0,"y":1.0,"z":1.0}

## Position of the Stamina panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
3.0StaminaPanelPosition = {"x":0.0,"y":0.0}

## Stamina color in Hex, set to 'none' to make vanilla [Not Synced with Server]
# Setting type: String
# Default value: #986100
3.1StaminaColor = #986100

## Stamina Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
3.2StaminaScale = {"x":1.0,"y":1.0,"z":1.0}

## Position of the Hp panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
4.0HpPanelPosition = {"x":0.0,"y":0.0}

## HP color in Hex, set to 'none' to make vanilla [Not Synced with Server]
# Setting type: String
# Default value: #870000
4.1HPColor = #870000

## HP Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
4.2HPScale = {"x":1.0,"y":1.0,"z":1.0}

## Position of the Eitr panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
5.0EitrPanelPosition = {"x":0.0,"y":0.0}

## Eitr color in Hex, set to 'none' to make vanilla [Not Synced with Server]
# Setting type: String
# Default value: #84257C
5.1EitrColor = #84257C

## Eitr Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
5.2EitrScale = {"x":1.0,"y":1.0,"z":1.0}

## LevelHud Group of Objects Scale factor (Nav Bar, Point Hub) [Not Synced with Server]
# Setting type: Single
# Default value: 1
6.2LevelHudGroupScale = 1

## Position of the Point panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
7.0PointHudPosition = {"x":-3.0,"y":-1.0}

## Position of the NavBar (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":100.0}
8.0NavBarPosition = {"x":-503.0,"y":84.0}

